.map-container {
    height: 100vh;
    width: 100vh;
    margin: auto;
}

.google-map {
    margin-top: 10px;
}


@media only screen and (max-width: 450px) {
    .google-map {
        height:300px;
        width:280px;
    }
}


@media only screen and (min-width: 450px) {
    .google-map {
        height: 600px;
        width: 400px;
    }
    }

@media only screen and (min-width: 800px) {
    .google-map {
        height: 750px;
        width: 750px;
    }
    }

@media only screen and (min-width: 1200px) {
    .google-map {
        height: 800px;
        width: 1000px;
    }
    }

